<?<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <title>Skribbl Game</title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
  	<link rel="stylesheet" href="css/bootstrap.min.css">
  	<link rel="stylesheet" href="css/style.css">
       <h1 id="titletop">Awesome Skribbl !!!!! </h1>
  </head>
    <body>


  <div class="col-md-7">
    <nav class="navbar navbar-default">
      <div class="container-fluid nav-bar">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav">
            <li><a class="menu active" href="/home" >Home</a></li>
  					<li><a class="menu" href="/skribll">Skribbl</a></li>
  					<li><a class="menu" href="/highscores">highscores</a></li>
  					<li><a class="menu" href="/wortview">Wort eingeben</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <section id="teamv" >
	<h1>Team Vostellung </h1>
        <div id = "team">
	<p>Anouar Touil , Ayoub Oubacha </p>
        <p>
	      Spieler muessen unbedingt einen Nutzenamen in Chat eingeben, der wird fuer jeden Spieler zugoerdnet solange er an der Webseite verbunden ist.
              Spieler muessen das Wort "malen" in chat eingeben um an dem Spiel teilzunehmen.
              Spieler werden in einer Reihenfolge bestimmt , und zwar es wird mit dem ersten Spieler angefangen dann mit dem zweiten und usw ...
              Direkt nachdem dem Spiler angezeigt wurde, dass er daran ist , muss er ein Wort in "WortEingabe" eingeben und anschlissend beginnen zu malen.
              Gewinner sind Spieler die in Chat das Richtige Wort eingegeben haben, wenn keiner das Wort erraten hat ist der Maler der Gewinner.
              Highscores werden nach jeder Runde aktualisiert.
	 
        </p>
        </div>

  </section>





  </body>

<footer>
   <p> WEB PROJEKT SS18 Team : ma_tu. All rights reserved 2018 </p>
</footer>


</html>
