<?<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

	<meta charset="utf-8">
	<title>Skribbl Game</title>
	<link type="text/css"  rel="stylesheet" href="/css/font-awesome.min.css">
	<link type="text/css"  rel="stylesheet" href="/css/bootstrap.min.css">
	<link type="text/css"  rel="stylesheet" href="/css/style.css">
</head>
<section>
	<h1 id="titletop">Awesome Skribbl !!!!! </h1>
</section>
<div class="col-md-7">
	<nav class="navbar navbar-default">
		<div class="container-fluid nav-bar">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

				<ul class="nav navbar-nav">
					<li><a class="menu " href="/home" >Home</a></li>
					<li><a class="menu" href="/skribll">Skribbl</a></li>
					<li><a class="menu" href="/highscores">highscores</a></li>
					<li><a class="menu active" href="/wortview">Wort eingeben</a></li>
				</ul>
			</div><!-- /navbar-collapse -->
		</div><!-- / .container-fluid -->
	</nav>
</div>



<body>
	<div id="result">
	  <p> Vielen Dank </br> Sie haben das Wort / die Woerter : </p>
		<p> <%= data.Wort.replace(/\s/g, " - "); %> </p>
		<p> hinzugefuegt. </p>
 </div>
</body>
</html>
